/* RESETS */
body,
p,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.body {
  background-color: #d1d1d1;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #032b43;
}

.logo {
  color: #136f63;
  margin-left: 20px;
}

.link {
  text-decoration: none;
}

.cart-button {
  margin: 10px;
}

.main-container {
  height: 80vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.menu-category {
  border: 1px solid #000;
  border-radius: 20px;
  background-color: #136f63;
  color: #fff;
  width: 50%;
  height: 130px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  box-shadow: -5px 5px #3a3a3a;
}

.popup {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.hide {
  display: none;
}

.menu-popup {
  position: relative;
  height: 80%;
  width: 70%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.exit-button {
  position: absolute;
  height: 40px;
  width: 60px;
  top: -20px;
  right: -20px;
  border-radius: 10px;
}

.exit-text {
  font-size: 12px;
}

.card {
  background-color: #d1d1d1;
  width: 70%;
  height: 20%;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 10px 0;
}

.food-name {
  font-size: 22px;
}

.food-description {
  font-size: 14px;
  text-align: center;
  padding: 10px 5px;
}

.food-price {
  font-size: 16px;
}

/* CART FUCTIONALITY */
.cart-popup {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.hide {
  display: none;
}

.cart-menu {
  position: relative;
  height: 80%;
  width: 70%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.cart-header {
  position: absolute;
  top: 20px;
  font-size: 40px;
}

.cart-subheader {
  margin: 15px 0;
}

.cart-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.list-of-items {
  width: 100%;
  margin-bottom: 10px;
}

.cart-list-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .menu-category {
    padding: 50px 0;
    width: 40vw;
    margin: 0;
  }

  .food-name {
    font-size: 22px;
  }

  .food-description {
    font-size: 14px;
    text-align: center;
    padding: 10px 5px;
  }

  .food-price {
    font-size: 18px;
  }
}
